@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Lusitana:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lusitana", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #FFD3A0;
}

header {
    display: flex;
}

header ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
}

header li {
    width: min-content;
}

header a {
    text-decoration: none;
    color: #000;
    font-size: 3em;
}