h2 {
    color: #DC9441;
    font-size: 5em;
    margin-bottom: .25em;
}

p {
    color: #FFF;
    font-size: 2.5em;
}

main {
    background-image: url(../img/emerson-vieira-Mq1LDuswX2o-unsplash\ 1.png);
    width: 100%;
    height: 87vh;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: end;
    align-items: center;
    justify-content: end;
    display: flex;
}
main div {
    margin-right: 2em;
}
